
.course-details-form {
  display: flex;
  flex-direction: column;
}

.course-type {
  margin-top: 15px;
  margin-bottom: 15px;
}

mat-radio-button{
  margin-right: 5px;
}
//will not work here because template of datepicker is different
//needs to applied globally
// .highlight-date{
//   background: red;
// }

